body { 
    margin: 0; 
    height: 100vh; 
    font-family: 'Press Start 2P', 
    cursive; background: url('Tangentia.png'); 
    background-size: 1366px 768px; 
    background-repeat: no-repeat; 
    background-position: center top; 
    background-color: #1c594d; 
    color: white; 
    overflow: hidden; } 

    header { 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 70px; 
        background: #1c594d; 
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        padding: 0 20px; 
        z-index: 1000; } 
        
        .back-button { 
            font-family: 'Press Start 2P', cursive; 
            background: #306a56; color: white; 
            border: none; 
            padding: 10px 15px; 
            cursor: pointer; } 
        .title-center { 
                flex-grow: 1; 
                text-align: center; 
                margin-left: 90px; } 
                
        .title-img { 
            margin: 40px auto 0 auto; 
            height: 20px; 
            width: 500px; 
            height: 250px; } 
            
        .header-buttons { 
            margin-right: 50px; } 
        
        .header-buttons button { 
            font-family: 'Press Start 2P', cursive; 
            background: #306a56; 
            color: white; 
            border: none; 
            padding: 10px 15px; 
            margin-left: 10px; 
            cursor: pointer; } 
            
            #menu { 
                display: none; 
                position: absolute; 
                right: 40px; 
                top: 70px; 
                background: rgba(0,0,0,0.8); 
                padding: 10px; 
                border-radius: 5px; 
                
                box-shadow: 0 0 10px #036666,
            0 0 20px #036666,
            0 0 30px #036666,
            0 0 40px #036666;
            } 
                
            #menu.active { 
                display: block; } 
            
            #menu ul { 
                list-style: none; 
                margin: 0; 
                padding: 0; } 
            
            #menu li { 
                margin: 10px 0; 
                cursor: pointer; 
                padding: 6px 12px;
                border-radius: 5px;
                transition: all 0.2s ease-in-out;
            } 

            #menu li:hover {
            background: rgba(0, 255, 255, 0.2);
            text-shadow: 0 0 5px #0ff,
                        0 0 10px #0ff; }
            
            .dimension-container { 
                display: flex; 
                justify-content: center; 
                align-items: center; 
                height: 100%; } 
                
            .symbols { 
                display: flex; 
                gap: 50px; } 
                
            .symbol {
                position: absolute; 
                width: 60px; 
                cursor: pointer; 
                transition: transform 0.2s; } 
                
            .symbol:hover { 
                transform: scale(1.2); } 
                
            .popup { 
                display: none; 
                position: fixed; 
                top: 0; 
                left: 0; 
                width: 100%; 
                height: 100%; 
                background: rgba(0,0,0,0.7); 
                justify-content: center; 
                align-items: center; } 
                
            .popup-content { 
                background: #306a56; 
                padding: 20px; 
                border-radius: 10px; 
                text-align: center; } 

                
            .close { 
                float: right; 
                font-size: 24px; 
                cursor: pointer; } 
                
                /* POPUP LORE */ 
                
                .lore-content { 
                    position: relative; 
                    background: none; 
                    box-shadow: none; } 
                    
                .scroll-img { 
                    width: 500px; 
                    display: block; 
                    margin: 0 auto; } 
                    
                .scroll-text { 
                    position: absolute; 
                    top: 20%; 
                    left: 50%; 
                    transform: translateX(-50%); 
                    width: 60%; 
                    color: #2b1d0e; 
                    font-size: 12px; 
                    text-align: center; } 
                    
                .categories { 
                    position: fixed; 
                    top: 260px; 
                    left: 20px; 
                    display: flex; 
                    flex-direction: column; 
                    gap: 15px; } 
                    
                .categories button { 
                    font-family: 'Press Start 2P', cursive; 
                    background: #306a56; 
                    color: white; 
                    border: none; 
                    padding: 8px 12px; 
                    cursor: pointer; 
                    transition: transform 0.2s; } 
                    
                .categories button:hover { 
                    transform: scale(1.1); }